<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hacktiv8Cops</title>
</head>
<body>
    
    


    <script>
        var map;
        function initMap() {
          
          var myLatLng = { lat: -6.259788, lng: 106.781646 };
          var map = new google.maps.Map(document.getElementById("map"), {
            zoom: 1,
            center: myLatLng
          });
  
          var infowindow = new google.maps.InfoWindow();
  
          var marker, i;  
  
        }
        
      </script>
  
      <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLTqWECu-KGCj3sjk3qPuAaPM9P0hyhOg&callback=initMap"
        async
        defer
      ></script>

</body>
</html>