<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <style>
      body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      #form-add-crime {
        border: 1px solid grey;
        padding: 30px;
        border-radius: 10px;
      }
      #wrap {
        width: 600px;
      }
      .input-field {
        width: 500px;
      }
      label,
      input {
        margin: 0;
        padding: 0;
      }
      .row {
        margin: 0;
      }
    </style>

    <title>Login</title>
  </head>
  <body>
    <h3>Hacktiv8Cops</h3>
    <form action="/" method="POST">
      <label for="username">
        Username: <input type="text" name="username" />
      </label>
      <br />
      <br />
      <label for="password">
        Password: <input type="password" name="password" />
      </label>
      <br />
      <br />
      <a class="waves-effect waves-light btn-large" href="/police-register">Register</a>
      <button class="waves-effect waves-light btn-large" type="submit">Log in</button>  
    </form>

    <script
      src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      $(document).ready(function() {
        $("select").formSelect();
      });
    </script>
  </body>
</html>
